{% extends 'todo/base.html' %} <br />

{% block content %} <br />

{{ error }} <br />

{{ todo.title }} <br />

<form method="POST">
  {% csrf_token %} <br />
  {{ form.as_p }}
  <button type="submit">Save</button>
</form>

<form method="POST" action="{% url 'completetodo' todo.id %}">
  {% csrf_token %} <br />
  <button type="submit">Complete</button>
</form>

<form method="POST" action="{% url 'deletetodo' todo.id %}">
  {% csrf_token %} <br />
  <button type="submit">Delete</button>
</form>

{% endblock %}
